*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    color: #999;
    font-size: 12px;
}

body {
    background-color: #f0f3ef;
}

.short-cut {
    background-color: #e3e4e5;
    width: 100%;
}

.short-cut .position {
    padding: 0px 7px;
    float: left;
    margin-left: 200px;
}

.short-cut .w {
    width: 1190px;
    height: 30px;
    line-height: 30px;
    margin: 0px auto;
    /* border: 1px solid #000; */
}

.short-cut .nav {
    float: right;
}

.short-cut .nav li {
    float: left;
    padding: 0px 7px;
}

.slider {
    float: left;
    width: 1px;
    height: 10px;
    background-color: #999;
    margin: 11px 5px 0;
}

.short-cut .register {
    color: red;
}

.header {
    width: 1190px;
    margin: 0 auto;
    position: relative;
}

.header .logo {
    width: 190px;
    height: 170px;
    position: absolute;
    top: -30px;
}

.header .logo img {
    width: 100%;
    height: 100%;
}

.header .w {
    padding-left: 200px;
    height: 140px;
    position: relative;
    /* border: 1px solid black; */
}

.header .search {
    height: 60px;
    /* border: 1px solid red; */
    padding-left: 70px;
    position: relative;
}

.header .search .search-box {
    width: 550px;
    height: 35px;
    font-size: 0;
    position: absolute;
    bottom: 0;
}

.header .search #search-word {
    width: 500px;
    height: 35px;
    line-height: 35px;
    background-color: #fff;
    border: none;
    outline: none;
}

.header .search .search-btn {
    width: 50px;
    height: 35px;
    background-color: #f10215;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}

.header .search .hotwords {
    font-size: 12px;
    width: 550px;
    position: absolute;
    top: 40px;
    height: 20px;
}

.settleup {
    width: 188px;
    height: 33px;
    background-color: #fff;
    line-height: 33px;
    text-align: center;
    border: 1px solid #e3e4e5;
    position: absolute;
    right: 99px;
    bottom: 0;
}

.settleup a {
    color: #f10214;
    position: relative;
}

.settleup span {
    position: absolute;
    padding: 1px;
    min-width: 12px;
    line-height: 12px;
    border-radius: 7px;
    text-align: center;
    background-color: #f10215;
    color: #fff;
    right: -20px;
    top: -3px;  
}

.hotwords li {
    float: left;
    margin-right: 10px;
    white-space: nowrap;
}

.hotwords .red a {
    color: red;
}

.navitems {
    position: absolute;
    bottom: 0;
    height: 40px;
    padding-top: 20px;
    line-height: 40px;
    margin-left: 200px;
}

.navitems ul {
    float: left;
    font-size: 14px;
}

.navitems ul li {
    float: left;
    margin-left: 25px;
}

.navitems ul li a {
    color: #333;
    font-size: 14px;
}

.navitems .slider {
    float: left;
    margin-top: 17px;
    color: #ccc;
    margin-right: -7px;
    margin-left: 17px;
}

.fs {
    width: 1190px;
    height: 480px;
    margin: 0 auto;
    margin-bottom: 30px;
}

#swiper {
    height: 100%;
}

.fs .fs-col {
    float: left;
    margin-right: 10px;
}

.fs .fs-col1 {
    width: 190px;
    height: 480px;
    position: relative;
}

.fs-col1 #menu-list {
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 6px 0px;
    color: #636363;
}

.fs-col1 #menu-list li {
    height: 26px;
    line-height: 26px;
    text-align: left;
    padding-left: 10px;
    color: #636363;
}

.fs-col1 #menu-list li:hover {
    background-color: rgb(238, 238, 238);
}

.fs-col1 #menu-list li a{
    color: #636363;
}

.fs-col1 #menu-list a:hover {
    color: red;
}

#menu-content {
    background-color: #fff;
    width: 998px;
    height: 492px;
    position: absolute;
    left: 190px;
    top: 0;
    z-index: 200;
}

.fs-col1 .tabs {
    width: 100%;
    overflow: hidden;
    margin: 10px
}

.fs-col1 .tabs li {
    float: left;
    margin-right: 10px;
    padding: 0 10px;
    height: 24px;
    background-color: #333;
    line-height: 24px;
    color: #fff;
}

#menu-content {
    display: none;
}

#menu-content .item-content dl {
    overflow: hidden;
    padding: 5px 0;
}

#menu-content .item-content dl dt {
    overflow: hidden;
    float: left;
    width: 70px;
    text-align: right;
    font-weight: 700;
    white-space: nowrap;
}

#menu-content .item-content dl dd {
    float: left;
    margin-left: 20px;
    left: 90px;
    width: 700px;
}

#menu-content .item-content dl dd a {
    padding: 0 10px;
    border-left: 1px solid #eee;
    white-space: nowrap;
    float: left;
    margin: 5px 0;
}

.fs .fs-col2 {
    width: 580px;
    height: 480px;
    background-color: pink;
}

.fs .fs-col3 {
    width: 190px;
    height: 470px;
    margin-top: 10px;
    background-color: #fff;
}

.fs-col3 .rec_img {
    display: block;
    width: 190px;
    height: 150px;
    margin-bottom: 10px;
}

.fs-col3 .rec_img img {
    width: 100%;
    height: 100%;
}

.fs .fs-col4 {
    width: 190px;
    height: 470px;
    padding-top: 10px;
    /* background-color: tomato; */
}

.fs-col4 .user {
    background-color: #fff;
    position: relative;
    padding-top: 62px;
    height: 88px;
}

.fs-col4 .user-avitor {
    width: 55px;
    height: 55px;
    margin: -15px auto;
    border: 5px solid #e3e1df;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -27.5px;
}

.user-avitor a {
    display: block;
    width: 100%;
    height: 100%;
}

.user-avitor a img {
    width: 100%;
    height: 100%;
}

.user-show p {
    overflow: hidden;
    line-height: 20px;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #888;
    text-align: center;
}

.user-profit {
    text-align: center;
    height: 32px;
    line-height: 32px;
}

.user-profit a {
    display: inline-block;
    margin: 0 5px;
    width: 70px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    text-align: center;
    color: #e43f3b;
    border-radius: 13px;
    box-shadow: 6px 8px 20px rgba(45,45,45,.15);
}

.user-profit .plus {
    background: #363634;
    color: #e5d790;
}

.news {
    overflow: hidden;
    height: 130px;
    background: #fff;
}

.news .news_hd {
    padding: 8px 0 0;
    position: relative;
    line-height: 13px;
    font-size: 0;
}

.news .news_list {
    position: relative;
    padding-top: 8px;
    margin: 0 15px;
    height: 88px;
}

.news .news_item {
    line-height: 21px;
    max-width: 160px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #999;
}

.news .news_tit {
    display: inline-block;
    font-size: 13px;
    margin-left: 15px;
    color: #1e1e1e;
}

.news .news_more {
    position: absolute;
    right: 12px;
    top: 8px;
    font-size: 12px;
    color: #999;
}

.news_tag {
    display: inline-block;
    position: relative;
    font-size: 12px;
    height: 16px;
    width: 35px;
    line-height: 16px;
    text-align: center;
    vertical-align: 0;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    background-color: #e47f7f;
    margin-right: 6px;
}

.service {
    width: 100%;
    height: 190px;
    background-color: #fff;
    position: relative;
    overflow: hidden;
}

.service .service-entry {
    padding: 18px 11px 11px;
    background-color: #fff;
}

.service-entry ul {
    overflow: hidden;
}

.service-entry ul li {
    position: relative;
    float: left;
    width: 42px;
    height: 55px;
    background: #fff;
    text-align: center;
    font-size: 12px;
}

.service-entry ul li i {
    display: block;
    width: 30px;
    height: 30px;
    margin: 4px auto 0;
    background-image: url(./image/icon.jpg);
}

.huafei {
    background-position: -6px 0;
}
.jipiao {
    background-position: -49px 0;
}
.jiudian {
    background-position: -94px 0;
}
.youxi {
    background-position: -134px 0;
}
.qiyegou {
    background-position: -6px -52px;
}
.jiayouka {
    background-position: -49px -52px;
}
.dianyingpiao {
    background-position: -94px -52px;
}
.huochepiao {
    background-position: -137px -52px;
}
.zhongchou {
    background-position: -6px -110px;
}
.licai {
    background-position: -49px -110px;
}
.lipinka {
    background-position: -94px -110px;
}
.baitiao {
    background-position: -134px -110px;
}

.service-pop {
    width: 100%;
    position: absolute;
    top: 190px;
    height: 180px;
    transition: all 0.5s;
    background-color: #fff;
}

.service-extend .item-frame {
    margin-top: -32px;
}

.service-extend .service-pop {
    top: 43px;
}

.service .active a span {
    color: red;
    border-bottom: 2px solid red;
}

.close {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;
    top: 0;
    /* border: 1px solid #000; */
}

.close::after, .close::before {
    content: '';
    width: 2px;
    height: 20px;
    background-color: #1e1e1e;
    position: absolute;
    left: 9px;
}
.close::after {
    transform: rotate(45deg);
}
.close::before {
    transform: rotate(-45deg);
}

.floors {
    width: 1190px;
    margin: 0 auto;
    height: 275px;
}

.floors .floors-col {
    float: left;
    height: 275px;
}

.floors .col1 {
    width: 190px;
    background-color: #e83632;
    position: relative;
}

.col1 .sk_hd_lk {
    display: block;
    width: 100%;
    height: 100%;
    
}

.col1 div, 
.col1 span {
    color: #fff;
}

.sk_tit {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    top: 42px;
    font-size: 34px;
}

.sk_subtit {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    top: 90px;
    color: #f19999;
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
}

.sk_ico {
    position: absolute;
    left: 86px;
    top: 126px;
    display: block;
    width: 20px;
    height: 33px;
    background-image: url(https://misc.360buyimg.com/mtd/pc/index_2017/2.1.0/static/images/sprite.seckill.png);
    background-position: -35px -25px;
}

.sk_desc {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    top: 170px;
    font-size: 16px;
}

.sk_cd {
    position: absolute;
    top: 212px;
    left: 30px;
    height: 40px;
}

.col1 .cd_item {
    position: relative;
    float: left;
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: #2f3430;
    margin-right: 5px;
}

.col1 .cd_item_txt {
    position: relative;
    line-height: 40px;
    font-weight: bold;
    font-size: 20px;
}

.col1 .cd_item::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    height: 1px;
    background: #e83632;
}

.floors .col2 {
    width: 800px;
    background-color: sienna;
}

.floors .col3 {
    width: 200px;
    background-color: aqua;
}

#search-content {
    width: 490px;
    padding: 0 5px;
    position: absolute;
    top: 35px;
    background-color: #fff;
    z-index: 200;
}

#search-content ul li {
    padding: 5px 0;
}

#search-content ul li a {
    color: #1e1e1e;
    font-size: 13px;
}

